*{
    margin: 0;
    padding: 0;
} 
body{
 background: #E5E5E5;
 font-family:"Raleway",sans-serif;
}
main{
    width: 1120px;
    margin: 90px auto 0;
    
}
.card_1{
    background-image: url("../img/Car.png");
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    
    
}
.car_1 p{
    margin-left: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}
 h2{
    margin-bottom: 11px;
    margin-left: 24px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
h3{
    padding-top: 20px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1D1D1D;
    flex-grow: 1;
}
p{
    color: #818181;
}
article{
    background: white;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 360px;
    min-height: 540px;
    margin-bottom: 20px;
}
.Thumbnail{
    width: 100%;
}
.body{
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex-grow: 1;
}